<p>
    <strong>This is an automated mail, please don't reply.</strong>
    <br /> <br />Hello, <br /> <br />
    The User Import job is{{" "}}
    {%- set has_errors = result("get_errored_logs", key="length") > 0 -%}
    {%- if has_errors -%}
    completed with errors
    {%- else -%}
    completed successfully
    {%- endif -%}
    {{ " based on the file - " + dag_run.conf.filename }}.<br />
    The log file is available at {{ params.log_filepath }}. <br /><br />
<p>
    {%- if has_errors -%}
    {%- endif -%}
    For any queries, please contact our support team at https://support.deltek.com <br /><br />
    Regards, <br />
    Deltek Inc.
</p>
</p>