<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6;">
    <p><strong>This is an automated mail, please don't reply.</strong></p>
    <br />
    <p>Hello,</p>
    <p>
      The <strong>Journal Sync Integration</strong> has not created a Cash Disbursement in Vantagepoint because a batch with the same details already exists.
      Batch - <strong>{{ result('read_cash_disbursement_data')['Batch'] }}</strong>
    </p>
    <p>
      For any queries, please reach out to 
      <a href="https://support.deltek.com" target="_blank">Deltek Support</a>.
    </p>
    <br/>
    <p>Regards,<br/>Deltek Inc.</p>
  </body>
</html>
