<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />
    Hello, <br /> <br /> 
    The payroll extract is completed successfully for Business Unit "{{ dag_run.conf.businessunit }}"  on {{ result('get_time_in_required_formats').format2 }}. Please find the extract details for reference. </p>
<ul>
    <li>File Upload Path: {{params.file_upload_path}} </li>
    <li>Country: {{dag_run.conf.businessunit}} </li>
<br /> 
</ul>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p> 