<p>
    <br />Hello, <br /><br />
    The Replicon timeoff export for UK has been completed at {{ dag_run.conf.process_start_time }}
    , however the log upload to sftp has failed with error.
</p>
<ul>
    <li>Country: UK</li>
    <li>Log File Name: log_{{ dag_run.conf.timeoff_file_name }}_{{ dag_run.conf.ymd_format }}{{ dag_run.conf.hms_format }}.txt</li>
    <li>SFTP Path: {{ params.output_filepath }}</li>
    <li>ecid: {{ dag_run_ecid() }}</li>
</ul>

<p>Please find the attached file to be uploaded to sftp. Upload the file to the given sftp and debug the issue.<br /></p>

<p>For any queries, please contact our support team at https://support.deltek.com <br />
    <p><strong>This is an automated mail from Deltek Integration, Please do not reply to this email</strong><br /></p>
    <br />Regards, <br />Deltek Inc.
</p>