<p>
    <strong>This is an automated mail, please don't reply.</strong> <br />
    <br />
    Hello,<br />
    <br /> 
    The Replicon UK PTA time data export is cancelled for {{ current_time_in_specified_tz() }}.
    <p>There are PTA time data records without employeeid present in the export.</p>
    <p>Please look into this and make appropriate corrections.</p>
</p>
<p>
    For any queries, please contact our support team at https://support.deltek.com<br />
    <br />
    Regards,<br />
    Deltek Inc.
</p>