<p><strong><em><span style="font-family: 'Calibri',sans-serif;">This is a automated mail, please don't
    reply&nbsp;</span></em></strong></p>
   <p>Hello ,</p>
   <p>The time off sync into Replicon has been processed based on filename - 
   {{result('new_file_sensor') | file_name }} on 
   {{ result('log_date')}}
   </p>
   Please find the below link to the Project import logs for reference. <br />
   <br /><a href="{{result('generate_download_link')}}">Download log file</a><br />
   <br /></p>
   <p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
   <p><br />For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>