<p><strong><em><span style="font-family: 'Calibri',sans-serif;">This is a automated mail, please don't reply&nbsp;</span></em></strong></p>
<p>Hi,</p>
<p>The Invoice Update is completed with errors based on filename -{{result("new_file_sensor") | file_name}} on {{result('log_todaydate')}}. We will notify you once the errors are analyzed.
<br />Import logs has been attached for reference.Please use the below link to access logs reference. <br /> <br />
<a href="{{result('generate_download_link')}}" >Download log file</a>
<p>Please contact our support team at https://support.deltek.com for any further clarification.</p>
<p>Regards, <br /> Deltek Inc.</p>