<p><strong>This is an automated mail, please don't reply</strong><br /> <br />Hello, <br /> <br />The daily schedule to
    enable/disable users has completed with errors. Please click the below link to download logs <br /><br /><br />
    <a href="{{result('generate_log_download_link')}}">Download file</a><br /><span style="font-size: small;">The
        download link is valid for 7
        days.</span><br /><br />For any queries, Please contact our support team at https://support.deltek.com<br /> <br />Regards, <br />Deltek Inc.
</p>