<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Timesheet
    approval for disabled users is completed with error on {{ current_time("%Y-%m-%dT%H:%M:%S.%f%z") }}. Please find the
    log file details below for reference: <br /> <br />
    File path: {{ params.log_filepath }}<br />
    File name: {{ result('log_file_name') }}</p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>