<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
    <p><strong>This is an automated mail, please don't reply.</strong></p>
    <br />
    <p>Hello,</p>
    <p>
      The <strong>Journal Sync Integration</strong> has not created a Cash Disbursement for the below records in Vantagepoint. These records are listed in the attached document. Please review and make the necessary corrections.
    </p>
    <p>
      <strong>Note:</strong> If you would like to include these records again in the same file, please delete the existing <em>Cash Disbursement batch</em> created for this file and 
      re-upload the file.
    </p>
    <p>
      For any queries, please reach out to 
      <a href="https://support.deltek.com" target="_blank">Deltek Support</a>.
    </p>
    <br/>
    <p>Regards,<br/>Deltek Inc.</p>
  </body>
</html>
