<p><strong>This is an automated mail, please don't reply.</strong><br /><br />Hello, <br /><br />The Replicon Sell Back Leaves Data Export of {{ dag_run.conf.adj_type }} adjustments for France
    {{ " " }} is completed successfully
    {{ " at " + current_time_in_specified_tz(params.time_zone) }}. Please find the extract details for reference.</p>

<ul>
    <li>File Name: {{ dag_run.conf.export_filename }}.txt.pgp</li>
    <li>File Path: {{ params.upload_file_path }}</li>
</ul>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>
