<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Timeoff Import
  is {{ "" }}
  {%- set has_errors = result("get_logged_errors", key="length") > 0 -%}
  {%- if has_errors -%}
  completed with errors
  {%- else -%}
  completed successfully
  {%- endif -%}
  &nbsp; based on the file - '{{ result("new_file_sensor") | file_name }}'. Please find the log details below:
  <br /><br />
  Log File Path: {{ params.filepath }}/Log_{{ dag_run_ecid() | replace(":", "-") }}_{{ result("new_file_sensor") |
  file_name }} <br /><br />

  {%- if has_errors -%}
  {%- endif -%}
  For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>