<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> Task import to
  Replicon is {{ "" }}
  {%- set has_errors = result("get_errored_logs", key="length") > 0 -%}
  {%- if has_errors -%}
  completed with errors
  {%- else -%}
  {%- if result("get_exception_logs", key="length") > 0 -%}
  completed with exceptions
  {%- else -%}
  completed successfully
  {%- endif -%}
  {%- endif -%}
  {{ " on " + current_time_in_specified_tz() }}.
  <br>
  Below are the log file details: <br /> <br />
  File Name: log_Time Step 1_Filename Step 1<br />
  Log File Path: <a href="{{result('generate_download_link')}}">Download log</a>
</p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<br />
{%- if has_errors -%}
{%- endif -%}
For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>