<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Force Approve Timesheets For Disabled Users is completed on {{ current_time_in_specified_tz('America/New_York') }}. Please find the log file for the same in the below SFTP location. <br /> <br />
File path: /Force approve timesheets for disabled users/Log files<br />
File name:{{ dag_run_ecid() | replace(": ", "-") }}_Timesheetsubmitlogs_{{current_time_in_specified_tz('America/New_York','%m%d%YT%H%M%S')}}Disabled_Users.csv,<br />
</p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>
