<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hi,<br><br>
    The automation to recalc timesheets for GE Portugal location for required timesheet periods has completed with
    errors. Please find the below link to download the timesheet recalc logs for reference.<br /><br /><a
        href="{{result('generate_download_link')}}">Download log file</a></p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<p>Please analyse the errors<br><br>
    Thanks,<br>Deltek Inc.</p>