<p>Hi Team,<br /> <br /> The Weekly Shift Assignment job for get_company_key() instance, hosted on get_company_key(), 
     created on {{ current_time_in_specified_tz('America/Los_Angeles') }} has been completed for file {{ result("weekly_shift_log_file_name") }} however, the log upload to sftp has failed. Attached is the log file for reference.</p>
<ul>
<li>DAG ID: {{ params.dag_id }}</li>
<li>DAG Run: {{ dag_run_ecid }}</li>
</ul>
<p>Please find the attached logs which was to be sent to intended recipients and debug the issue.<br /> <br /> Regards,<br /> Deltek Inc</p>