<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />
    Hello {{result('get_user_details').firstName}}, <br /> <br />
    The start date or end date is not selected in the request for supervisor summary report. Please note the start date and end date is mandatory and the allowed date range is 7 days. Please select the correct date range and try again.
</p>
<p>For any queries, please reach out to timesheets@terracon.com <br /><br />
    Regards, <br />
    Deltek Inc.
</p> 