<p>
    <p>Dear {{ result("foreach_reminder_entry")['User Supervisor Name (Current)'] }}</p>
    <br />
    <p>We are writing to inform you, one of your team members, [{{ result("foreach_reminder_entry")['User First Name'] }} {{ result("foreach_reminder_entry")['User Last Name'] }}, {{ result("foreach_reminder_entry")['Employee ID'] }}] has not updated the efforts on time due to which <strong>5 or more consecutive days of Annual Leave / LOP from {{ result("foreach_reminder_entry")['continousBookingStartDate'] }} to {{ result("foreach_reminder_entry")['continousBookingEndDate'] }} has been auto deducted.</strong></p>
    <br />
    <p>If employee have worked on these days, please inform employee to update the efforts on timesheet as soon as possible and reverse the auto-deduction of leave. <strong>If not, we would like to know if we have to keep employee salary on hold.</strong></p>
    <br />
    <p>Request you to kindly raise a ticket at <a href="https://wiprocio.service-now.com/sp">https://wiprocio.service-now.com/sp</a> for any action to be taken.</p>
    <br />
    <br />
    <strong>***This is an automated response. Please do not reply to this email.***</strong>
</p>