
<p><strong>This is an automated mail, please don't reply.</strong><br /><br />Hello, <br /><br />Your request to create a custom report for Invoice summary is not processed as no data is found for the date range 
    "{{ result('get_date_range_data').start_date }} - {{ result('get_date_range_data').end_date }}".
    <br /><br />Please select a new date range and reinitate the export.<br /><br />For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>