<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> 
    The Timesheet GL Account Number Update has failed for the user {{result('get_timesheet_details').owner.displayText}} and, for the Timesheet Period - {{result('log_timesheet_period')}}. Below are more details for your reference.  <br /> <br />
    
    Entry Date: {{ result('get_logger_list_value') .entrydate }}
    <br>Status: {{ result('get_logger_list_value').status}}
    <br>Reason: {{ result('get_logger_list_value').reason }}
    <br />
    <br />
    Request you to review the time entries in the timesheet and apply the required changes before the timesheet is updated. 
<p>
    For any queries, please contact our support team at https://support.deltek.com <br /><br />
    Regards, <br />Deltek Inc.</p> 