<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Replicon Project
  Import has {{" "}}
  {%- set has_errors = result("format_logs", key="error_record_count") > 0 -%}
  {%- if has_errors -%}
  completed with errors
  {%- else -%}
  {%- if result("format_logs", key="exception_record_count") > 0 -%}
  completed with exceptions
  {%- else -%}
  completed successfully
  {%- endif -%}
  {%- endif -%}
  {{ " on " + current_time_in_specified_tz() }}. Please find further details below: <br /><br />
<ul>
  <li>Source File name: {{ result('new_file_sensor') | file_name }}</li>
  <li>Log File name: {{result("get_log_file_name").log_file}}</li>
  <li>Log File path: {{params.log_filepath}}</li>
  <li>Job start time: {{result('get_log_file_name').job_start_time}}</li>
  <li>Job end time: {{result('get_log_file_name').job_end_time}}</li>
  <li>Total Record count: {{ result('create_collection_from_csv', 'length')}} </li>
  <li>Successful Record Count: {{result("format_logs", key="success_record_count")}}</li>
  <li>Exception Record Count : {{result("format_logs", key="exception_record_count")}}</li>
  <li>Error Record Count : {{result("format_logs", key="error_record_count")}}</li>
</ul>
<p>Please click on the below link to download the logs and review. <br /> <br />
  <a href="{{result('generate_download_link')}}">Download log file</a><br />
  <em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em>
</p>
<p>
  {%- if has_errors -%}
  {%- endif -%}
  For any queries, please reach out to https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>