<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Time Transfer
  from Replicon to Salesforce is {{" "}}
  {%- set has_errors = result("format_logs", key="error_record_count") > 0 -%}
  {%- if has_errors -%}
  completed with errors
  {%- else -%}
  {%- if result("format_logs", key="exception_record_count") > 0 -%}
  completed with exceptions
  {%- else -%}
  completed successfully
  {%- endif -%}
  {%- endif -%}
  {{ " at " + current_time("%m-%d-%Y-%H-%M-%S") }}. Please find the below link to the transfer logs for reference.
  <br /> <br />
  <a href="{{result('generate_downloadable_link')}}">Download log file</a><br /> <br />
</p>
<p><em><span style="font-size: 9pt;">The download link is valid for 30 days.</span></em></p>
<br>
<p>
  {%- if has_errors -%}
  {%- endif -%}
  For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>