<p>
    <strong>This is an automated mail, please don't reply.</strong>
    <br /> <br />Hello, <br /> <br />
    The Replicon user sync for CWF worker profile is skipped on Job created at {{ current_time_in_specified_tz() }}. There were no records to process in the file - {{ result('new_file_sensor') | file_name }}. Please correct the feed file and place a new file for processing.
</p>
<p>For any queries, please contact our support team at https://support.deltek.com
    <br /><br />
    Regards, 
    <br />
    Deltek Inc.
</p>