<p>
    <strong>This is an automated mail, please don't reply.</strong>
    <br /> <br />Hello, <br /> <br />
    The Replicon user sync for CWF worker profile job is{{" "}}
    {%- set has_errors = result("get_errored_logs", key="length") > 0 -%}
    {%- if has_errors -%}
    completed with errors
    {%- else -%}
    {%- if result("get_exception_logs", key="length") > 0 -%}
    completed with exceptions
    {%- else -%}
    completed successfully
    {%- endif -%}
    {%- endif -%}
    {{ " on " + current_time_in_specified_tz() }}.<br /><br />
    Please find the log file details and summary below for reference:
</p>
<ul>
    <li>File path: {{ params.log_filepath }}</li>
    <li>File name: {{ dag_run.conf.log_filename }}</li>
    <li>Number of records: {{ dag_run.conf.input_filesize }}</li>
    <li>Number of records processed: {{ dag_run.conf.input_filesize - result("get_skipped_logs", key="length") }}</li>
    <li>Number of success records: {{ result("get_success_logs", key="length") }}</li>
    <li>Number of exceptions records: {{ result("get_exception_logs", key="length") }}</li>
    <li>Number of skipped records: {{ result("get_skipped_logs", key="length") }}</li>
    <li>Number of errored records: {{ result("get_errored_logs", key="length") }}</li>
    <li>Number of new users added: {{ result("get_add_user_logs", key="length") }}</li>
    <li>Number of users updated: {{ result("get_update_user_logs", key="length") }}</li>
</ul>
<p>
    {%- if has_errors -%}
    {%- endif -%}
    For any queries, please contact our support team at https://support.deltek.com <br /><br />
    Regards, <br />
    Deltek Inc.
</p>