<p><strong><em><span style="font-family: 'Calibri',sans-serif;">This is a automated mail, please don't reply&nbsp;</span></em></strong></p>
<p>Hi,</p>
<p>The Client, Project and Task sync into Replicon is completed successfully on{{ result('get_logging_details').filename }} based on the file - {{ result('new_file_sensor') | file_base }}. Please find the below link to the logs for reference. <br /><br />
    <a href="{{ result('generate_download_link')}}">Download log file</a><br /> <br />
    <br />
    <span style="font-size: small;">The download link is valid for 30 days.</span><br>
<br />
For any queries, please contact our support team at https://support.deltek.com <br />
<br />
Regards, <br />
Deltek Inc. 