<strong>This is an automated mail, please don't reply.</strong><br /><br />
Hello, <br /><br />
The Client, Project and Task sync into Replicon is completed with errors on {{ result('get_logging_details').timestamp
}} based on the file - {{ result('new_file_sensor') | file_base }}. Please find the below link to the logs for
reference. <br /><br />
<a href="{{ result('generate_download_link')}}">Download log file</a><br /> <br />
<br />
<span style="font-size: small;">The download link is valid for 30 days.</span><br>
<br />
<br />
For any queries, please contact our support team at https://support.deltek.com <br />
<br />
Regards, <br />
Deltek Inc.