<strong>This is an automated mail, please don't reply</strong><br />
<br />
Hello, <br />
<br />
The User Import into Replicon based on filename '{{dag_run.conf.file_path | file_name}}' is  is completed with errors at
{{result('log_current_time')}}. Import logs have been placed in the 'Logs' folder with the file name 'Statestreet_user_{{result('log_filenumber_72')}}
_{{result('log_current_date')}}.csv'<br />
<br />
For any queries, please contact our support team at https://support.deltek.com <br />
<br />
Regards, <br />
Deltek Inc.