<p>
    <strong>This is an automated mail, please don't reply.</strong>
    <br /> <br />Hello, 
    <br /> <br /><strong> Department List Not Saved </strong>
    <p> Department list for the month is not saved for FMG/RMG in the below path: 
    </br>{{params.input_file_path}}
    </p>
    <p>
    Please do save the same by 15th of the month after which replicon user setup will not be done for the month.
    </p>    
    <p>
       In case any query, do each out to <a href = "mailto:COGTechFORFinanceRepliconSupport@macquarie.com ">COG Tech Enterprise Finance Replicon Support</a>.
    </p>
    
    <br />Regards, <br />Deltek Inc. </p>
</p>