<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br />
    We noticed a failure for the below issue key while updating the Custom Field in Jira. <br /> <br />
    Issue key: {{ dag_run.conf.issuekey }} <br /> <br />
    Below is the error message for your reference:<br /> <br />
    Error: "Field 'customfield_10130' cannot be set. It is not on the appropriate screen, or unknown<br /> <br />
    For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>