<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />
    Hello, <br /> <br />
    The user import job is {{ result('get_import_statuses').subject }} on {{ result('log_formatted_dateandtime') }}. Please find the below link to download the user import logs for reference. <br /> <br />
    <a href="{{result('generate_download_link')}}">Download log file</a>
</p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<p>{{ result('get_import_statuses').body}} </p>