<p><strong>This is an automated mail, please don't reply.</strong>
    <br />
    <br />
    Hello,
    <br />
    <br /> The Timeoff Import is completed with failures based on the file - {{ result('new_file_sensor') | file_name
    }}. Please find the path below to download the logs.
    <br /> <br />
    Logs: /Time off Sync/Log Files/Log_{{ dag_run_ecid() }}__{{ result('new_file_sensor') | file_name }}
    <br />
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>