<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Replicon payroll
    export for AUS Active User Balance for the location {{dag_run.conf.location_name}} has been skipped on {{ current_time_in_specified_tz() }}
    The export is skipped since there is no active user balance data for the period {{ params.start_date }} to
    {{params.end_date}}
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>