<p>
    <strong>This is an automated mail, please don't reply.</strong><br /> <br />
    Hello, <br /> <br /> 
    The Authorize Update  job is completed successfully based on the file {{ result('new_file_sensor') | file_base }}
    Please find the link below to download the logs.
    <br /> <br /><a href="{{result('generate_download_link')}}">Download Logs</a><br /> <br />
    <em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em>
</p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />
    Regards, <br />
    Deltek Inc.
</p>