<p>
    <br />Hello, <br /><br />
    The Replicon Termination Balance Export for UK has completed successfully at {{ result('process_start_time').start_time }}.
    There were no valid records in the file {{ result('get_file_name')}} to be processed.<br />
</p>
<p>For any queries, please contact our support team at https://support.deltek.com <br />
    <p><strong>This is an automated mail from Deltek Integration, Please do not reply to this email</strong><br /></p>
    <br />Regards, <br />Deltek Inc.
</p>