<p>Hi Team,<br /> <br /> The custom payroll extract for the instance hosted on &ldquo;
    User name
    Properties&rdquo; instance has been completed at &ldquo;
    Job created at
    Properties&rdquo;, however the file upload to Cshare has failed. Attached is the extract file for reference.</p>
    <ul>
    <li>ecid ID: {{ dag_run_ecid() }}</li>
    </ul>
    <p>Please find the attached extract file which was to be sent to intended recipients and debug the issue.<br /> <br /> Regards,<br /> Deltek Inc</p>