<p><strong><em><span style="font-family: 'Calibri',sans-serif;">This is a automated mail, please don't reply&nbsp;</span></em></strong></p>
Hello,</br>
</br>
The custom payroll extract has been skipped because there was no data obtained in the base report: "Customization Expense Report". Please ensure that data is available in both the base reports for a successful extract.</br>
<p>For any queries, Please contact our support team at https://support.deltek.com</p>
</br>
Thanks, <br />
Deltek Inc.