<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> <p>Hi,</p>
<p>Hi,</p>
<p>The timesheet for the user 
Firstname
Step 1, 
Surname
Step 1 for entry date 
Start date
Step 1 has been reopened since the Time Off for the date has been cancelled.</p>
<p>Please review the Timesheet and re-submit for approval.</p>
<p>Thanks,</p>
<p>Deltek Inc.</p>
<br>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>
    