<p><strong>This is an automated mail, please don't reply.</strong><br /> <br /> <p>Hi,</p>
<p>Please find the below link to download the lists the file names which are not imported to Replicon, since it has more or less than 3 files in the batch for the time interval .</p>
{%- for record in dataset %}
<br /> {{record.file_name}}: <a href="{{record.download_link}}">Download file</a></p>
{%- endfor %}
For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>
