<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Project Import
  is {{ "" }}
  {%- set has_errors = result("format_logs", key="error_record_count") > 0 -%}
  {%- set has_exceptions = result("format_logs", key="exception_record_count") > 0 -%}
  {%- if has_errors -%}
  completed with errors
  {%- elif has_exceptions -%}
  completed with exceptions
  {%- else -%}
  completed successfully
  {%- endif -%}
  &nbsp; based on the file - '{{dag_run.conf.input_filename}}'. Please find the log details below:
  <br /><br />
  {%- set download_link = 'generate_pre_signed_download_url' -%}
  <a href="{{result(download_link)}}">Download log file</a><br /><br /><br />

  {%- if has_errors -%}
  {%- endif -%}
  For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>