<!DOCTYPE html>
<!--RMG Employee Type Email Body-->
<p><strong>This is an automated mail, please don't reply.</strong>
    <h1>Online Timesheets are due {{ dag_run.conf.custom_due_date.rmg_timesheet_end_date }}</h1>
    <p>Complete your timesheet by COB {{ dag_run.conf.custom_due_date.rmg_timesheet_end_date }}</p>
    <p></p>
    <p><a href="https://idp.staffam.macquarie.com/idp/startSSO.ping?PartnerSpId=https://global.replicon.com/!/saml2/MacquarieProduction">Replicon/ </a></p>
    <p></p>
    <p>Instructions/Points to note:</p>
    <ul>
        <li>In your role, you are required to complete a timesheet, to accurately reflect the work you are doing for the business and on specific projects. Not completing your timesheet will result in incorrect allocations to the business and a significant manual effort to correct them. </li>
        <li>Please ensure that you have completed your timesheet by {{ dag_run.conf.custom_due_date.rmg_timesheet_end_date }}, following this the system will be locked. and non-completion details will be reported to division heads. If you have any questions, please reach out to <a href ="mailto:fmgfinancerepliconsupport@macquarie.com">RMG FINANCE REPLICON SUPPORT(GLOBAL)</a></li>
        <li>If you need to set up a new Project code or Task in Replicon, please provide the details to <a href="mailto:fmgfinancerepliconsupport@macquarie.com">FMG FINANCE REPLICON SUPPORT(GLOBAL)</a> latest by due date.</li>
        <li>Make sure you click <b>Submit</b> once you have finalized your timesheet after saving your time allocation.</p>
    </ul>
    <p>Further guidance is available on the <a href="https://macnet.internal.macquarie.com/fmg/toolkit/applications/replicon">Replicon Macnet page</a></p>
    <p></p>
<p><br />Regards, <br />Deltek Inc.</p>