<p><strong><em><span style="font-family: 'Calibri',sans-serif;">This is a automated mail, please don't reply&nbsp;</span></em></strong></p>
<p>Hello,</p>
<p>The custom extract job for the Innotas & JE files initiated at {{ current_time_in_specified_tz("America/Chicago", "%Y-%m-%d") }} 
    completed, however, there was no data found for the date range: {{ params.start_date }} to {{ params.end_date }}. 
    Kindly check the date range and initiate a new request.<br/>
</p>
<p>Please contact our support team at https://support.deltek.com for any further clarification.</p>
<p>Regards, <br /> Deltek Inc.</p>