<p><strong>This is an automated mail, please don't reply</strong><br /> <br />Hello, <br /> <br />The Replicon to
    Spectrum report creation has been skipped. There is no data available in Replicon to export for the given date and
    department.</p>
<ul>
    <li>Date: {{ dag_run.conf.entrystartdate }} - {{ dag_run.conf.entryenddate }}</li>
    <li>Department: {{ dag_run.conf.userdepartmentname }}</li>
</ul>
<p>For any queries, please contact our support team at https://support.deltek.com <br /> <br />Regards, <br />Deltek Inc.</p>