<p><strong>This is an automated mail, please don't reply</strong><br /> <br />Hello, <br /> <br />The Replicon to
    Spectrum report has been generated. Please click the below link to download. <br /><br /><a
        href="{{result('generate_download_link')}}">Download file</a><br /><span style="font-size: small;">The download
        link is valid for 30 days.</span><br /><br />For any queries, please contact our support team at https://support.deltek.com <br />
    <br />Regards, <br />Deltek Inc.</p>