<p>Hello,<br /> <br /> 
    The Replicon Time Import for file "{{ result('new_file_sensor') | file_name }}" could not be completed due to an incorrect file format received. Please replace the file in the correct format (CSV) for a successful sync.</p>
<p>For any queries, please contact our support team at <a href="https://support.deltek.com/">https://support.deltek.com/</a><br />
<br />
<strong>This is an automated mail from Deltek Integration. Please do not reply to this email.</strong><br />
<br /><br />
Regards,<br />
Deltek Inc</p>
