<p><strong>This is an automated mail. Please do not reply.</strong></p>
<p>Hi Team,</p>
<p>The 'CbFC export' for 'DTNA ENG' department is completed successfully for the period from '{{ result("get_required_data_for_run").get("timesheet_period_start_date") }}' till '
    {{ result("get_required_data_for_run").get("timesheet_period_end_date") }}' on '{{ result("get_required_data_for_run").get("date_today_format2") }}' with posting date as '{{ result("get_required_data_for_run").get("previous_date3") }}'. Please find the file 'DTNA-512_TimeDirectActivityAllocation_Eng_
    {{ result("get_required_data_for_run").get("date_today_format1") }}.csv' at '/Production/CbFCExport/DTNA_ENG/Outbound' on the SFTP server.</p>
<p>In case of any questions, please contact our support team at https://support.deltek.com.</p>
<p>Regards,</p>
<p>Deltek Inc.</p>