<p>
    <strong>
        This is an automated mail, please don't reply.
    </strong>
    <br />
    <br />Hello,
    <br />
    <br />
    Replicon Custom Time Data Export run sucessfully on [{{ current_time_in_specified_tz("America/New_York","%m_%d_%Y") }}].
    <br />
    <br />
    <strong>Process completed: </strong>{% if result("get_subject") | ends_with("Successfully") %}
    All Comp Time Accrued Successfully
{% elif result("get_subject") | ends_with("No Data") %}
    There is no Comp Time to be Accrued
{% else %}
    Comp Time Accrual completed with errors
{% endif %}

<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Replicon Inc. </p>