<p><strong>This is an automated mail, please don't reply.</strong><br /><br />Hello, <br /><br />The Replicon Data Lake
    unapproved time data extract is completed successfully {{" "}}
    for {{ dag_run.conf.week_type }}. Please find the extract details for reference.</p>
<ul>
    <li>Week Type: {{ dag_run.conf.week_type }}</li>
    <li>Entry Date Range: {{ dag_run.conf.entry_start_date }} - {{ dag_run.conf.entry_end_date }}</li>
    <li>File Path: {{ params.upload_file_path }}</li>
    <li>File Name: {{ result('get_file_name') }}</li>
</ul>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>
