<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br />Activity to remove project resource allocation on holidays is completed successfully. Please use the below link to access logs reference. <br /> <br />
<a href="{{result('generate_download_link')}}" & path=/removeresourceallocation_{{current_time("%Y_%m_%d")}}.csv>Download log file</a>
</p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>
