<p><strong>This is an automated mail, please don't reply.</strong><br />
    <br />Hello, <br /><br />
    The Replicon Daily Time Export completed successfully 
    on {{ result('process_start_time') }}. Please find the export details for
    reference.
</p>
<ul>
    <li>File Name: {{ result("generate_filename") }} </li>
    <li>File Path: {{ params.upload_file_path }}</li>
    <li>Number of Records: {{ result("query_data_within_range", "length") }}</li>

</ul>
<p>For any queries, please contact our support team at https://support.deltek.com<br /><br />Regards, <br />Deltek Integrations Centre of Excellence</p>