<p>Hello,<br /> <br />The DataMart Worker Data Export with no cost center for the ENG Department has completed successfully. Please find the rejected records details below: <br /></p>
<ul>
    <li>File name : {{ params.file_name_prefix }}{{ result('process_start_time') }}.csv</li>
    <li>File path : {{ params.rejected_files_directory }}</li>
</ul>
<p>For any queries, please contact our support team at <a href="https://support.deltek.com/">https://support.deltek.com/</a><br />
<br />
<strong>This is an automated mail from Deltek Integration. Please do not reply to this email.</strong><br />
<br /><br />
Regards,<br />
Deltek Inc</p>
