<p>
    <strong>This is an automated mail, please don't reply.</strong> <br />
    <br />
    Hello,<br />
    <br />
    The Replicon payroll data export is cancelled at {{ result("process_start_time").start_time }}.
<p>There are records without Employee ID in payroll export.</p>
<p>To download the invalid records click <a href="{{result('generate_download_link')}}">here</a></p>
<p>Note: Once the entries have been corrected and approved the records will be available in next export</p>
</p>
<p>
    For any queries, please contact our support team at https://support.deltek.com<br />
    <br />
    Regards,<br />
    Deltek Inc.
</p>