<strong>This is an automated mail, please don't reply</strong><br /> <br />
Hello, <br /> <br />
The user import is {{" "}}{%- set has_errors = result("get_logged_errors", key="length") > 0 -%}
{%- if has_errors -%}
completed with errors
{%- else -%}
completed successfully {%- endif -%}
{{" "}}based on input file '{{ result("new_file_sensor") | file_name }}'.
<br />Please click on the below link to download the logs and review. <br /> <br /><a
  href="{{result('generate_download_link')}}">Download User Import log</a></p>

{%- set dept_logs = result("get_department_log_file") -%}
{%- set cost_center_logs = result("get_cost_center_log_file") -%}
{%- if dept_logs -%}
<a href="{{result('generate_download_link_for_department_log')}}"> Download Department log</a></p>
{%- endif -%}
{%- if cost_center_logs -%}
<a href="{{result('generate_download_link_for_costcenter_log')}}"> Download Cost Center log</a></p>
<p><em><span style="font-size: 9pt;">The download links are valid for 7 days.</span></em></p>
<br />
{%- endif -%}
For any queries, please contact our support team at https://support.deltek.com <br /> <br />
Regards, <br />
Deltek Inc.
</p>