<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />
    Hello {{ result('log_user_first_name_4') }}, <br /> <br />
    The custom actuals vs normalized report for the range  "{{ dag_run.conf.datefield }}" is processed successfully on {{ result('log_time_now_5') }}. Please click on the below link to download the report. <br /> <br />
    <a href="{{ result('generate_download_link')}}">Download Custom CJI - Actuals vs Normalized Report</a>
</p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />
    Regards, <br />
    Deltek Inc.
</p>