<br />
Hello MP/RIT Team, <br />
<br />
{{dag_run.conf.webhook.data.company_key}} has raised request for {{dag_run.conf.webhook.data.connector_name}}.
<br/>
<h3>Request Details</h3>
<ul>
    <li><strong>Connector Name:</strong> {{dag_run.conf.webhook.data.connector_name}} </li>
    <li><strong>userName:</strong> {{dag_run.conf.webhook.data.user_name}} </li>
    <li><strong>Requested By:</strong> {{dag_run.conf.webhook.data.user_email_id}} </li>
    <li><strong>Phone Number:</strong> {{dag_run.conf.webhook.data.phone_number}} </li>
    <li><strong>Request Date:</strong> {{current_time('%Y-%m-%d')}} </li>

</ul>
<br />
Thanks & Regards, <br />
Deltek Deltek Inc.. 