<p>
    <strong>This is an automated mail, please don't reply.</strong><br />
    <br />
    Hello,<br />
    <br />
    The Replicon time data export to Oracle PPM encountered an error while posting to Oracle Fusion Cloud at {{ current_time_in_specified_tz(params.time_zone) }}.<br />
    <br />
    Replicon Export Name: {{ result('logging_details').time_export_filename }}
</p>
<p>
    <a href="{{result('generate_posting_report_link')}}">Download logs</a>
</p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<p>
    For any queries, please contact our support team at https://support.deltek.com<br />
    <br />
    Regards,<br />
    Deltek Inc.
</p>
