<p>
    Hi Team,<br /> <br /> 
    Time off sync to paycom for {{ get_company_key() }},
    has been completed for file "{{ params.filename }}", however, the log upload to sftp has failed.
    Attached is the log file for reference.
</p>
<p>
    Please find the attached logs which was to be sent to intended recipients and debug the issue related to sftp upload.</p>
<p>
    For any queries, please contact our support team at <a href=https://support.deltek.com>https://support.deltek.com</a> 
    <br /><br />Regards, <br />Deltek Inc. </p>