<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Task/Ticket
    Import job is completed with errors based on the file - '{{result("get_import_file_name")}}'. Please use the below link to access
    the log file. <br /> <br /><a href="{{result('generate_pre_signed_url')}}">Download extract
        file</a></p>
<p><em><span style="font-size: 10pt;">The download link is valid for 7 days.</span></em></p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>