<p>
    <strong>This is an automated mail, please don't reply.</strong><br />
    <br />Hello, <br />
    <br />
    The ADP Payroll data from Replicon failed to generate as per below input parameters.
</p>
<p>
    Start date:"{{result('log_startdateformatted')}}"<br />
    End date:"{{result('log_enddateformatted')}}"<br />
    ADP Payroll company Code:"{{dag_run.conf.adp_payroll_company_code}}"<br /><br />
</p>
<p>
    For any queries, please contact our support team at https://support.deltek.com <br /><br />
    Regards,<br />
    Deltek Inc.
</p>