<p>Hello, <br /> <br />The Replicon payroll export of termination balances for {{ dag_run.conf.region }} {{ dag_run.conf.location }} is skipped at {{ current_time_in_specified_tz() }}.
    The export is skipped since there is no termination balance data for the period {{ dag_run.conf.logging_details.start_date }} to {{ dag_run.conf.logging_details.end_date }}.</p>
<p>For any queries, please contact our support team at <a href="https://support.deltek.com/">https://support.deltek.com/</a><br />
<br />
<strong>This is an automated mail from Deltek Integrations. Please do not reply to this email.</strong><br />
<br />
Regards,<br />
Deltek Inc</p>