<p><strong>This is an automated mail, please don't reply.</strong>
    <br />
    <br />Hello,
    <br />
    <br /> The automated TOIL Extract Run has skipped because the <b>{{params.report_name}}</b> report doesnt have data for the requested filters.
    <br /> <b> Filters :</b>
    <br /> Country - {{params.location}}
    <br /> Entry Date Range - {{ params.st_date }} to {{ params.ed_date }}
    <br />
    <br />
    <br />For any queries, please contact our support team at https://support.deltek.com 
    <br />
    <br />Regards, 
    <br />Replicon Inc.
</p>