<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br />The file "{{
    result("new_file_sensor") | file_name }}" is not processed because the file name does not match the expected naming pattern.
<br /><br />Expected pattern: <code>PPS_Project_team_YYYYMMDDHHSS.txt.pgp</code>
<br />Example: <code>PPS_Project_team_20260127143022.txt.pgp</code>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc. </p>
