<p><strong>This is an automated mail, please don't reply.</strong><br />
    <br />Hello, <br /><br />
    The Replicon payroll export for Australia is skipped for the company code "{{dag_run.conf.division_name}}" 
    on {{ current_time_in_specified_tz() }}. Please find the export details for reference.
</p>
<ul>
    <li>Country: Australia</li>
    <li>Company Code: {{dag_run.conf.division_name}}</li>
</ul>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>