<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> 
<br /> The Replicon payroll export for AUS Termination file for Australia is completed successfully on  {{ current_time_in_specified_tz() }} 
. Please find the extract details for reference. </p>
<ul>
<li>Process Started: {{ result('process_start_time') }}
<li>Termination  Extract File Name: {{ result('get_file_name')}}</li>
<li>File Path: {{params.output_filepath}}</li>
<li>Number of Records in termination extract: {{result('query_list_in_final_payroll_collection', 'length')}}</li>
<li>Termination Log File Name: Log_{{ result('get_file_name')}}</li>
<li>Log File Path: {{params.log_filepath}}</li>
<li>Process Ended: {{ result('process_end_time') }}</li>
</ul>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>