<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />
    Hello {{ result('get_user_details').firstName }}, <br /> <br />
    There is no data to be extracted in the supplied date range "{{ result('create_run_details').startdate }} - {{ result('create_run_details').enddate }}" for custom utilization report. Please select a different date range and try again.</p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />
    Regards, <br />
    Deltek Inc.
</p>