<p>Hello <strong>
    {{ dag_run.conf['User name'] }}</strong>,</p>
    <p>You are receiving this email as a result of your <strong>{{ dag_run.conf.Startdate }}</strong> timesheet being reverted to <strong>not submitted</strong> status.  This timesheet week is now open due to time off hours syncing from Workday to Replicon. Please review your <strong>
        {{ dag_run.conf.Startdate }}</strong> timesheet, making any necessary edits to work hours, and promptly resubmit.</p>
    <p>If you have any questions or need additional information on this matter,
    please submit a neXus ticket to Finance >> TimeTracking/Replicon via Blue
    Dot.</p>
    <p>We appreciate your cooperation and diligence, as always.</p>
    <p>The TimeTracking Team</p>