<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br />
    The Replicon CWF time export for PSA job is Completed successfully at {{current_time("%Y-%m-%dT%H:%M:%S.%f%z")}}. Please find the file details below:<br /><br />
    File path: {{ params.sftp_path}} <br />
    File name: {{ dag_run.conf.twbname }}.xml <br/>
    Payload identifier: {{ dag_run.conf.payload_identifier_replicon_uniqueid }}
    <br /></p>
    <p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p> 