<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Replicon user
    import is{{ " " }}
    {%- set failure_task = "filter_user_import_failures" -%}
    {%- set has_errors = result( failure_task, key="length") > 0 -%}
    {%- if has_errors -%}
    completed with errors
    {%- else -%}
    {% set exception_task = "filter_user_import_exception" -%}
    {%- if result(exception_task, key="length") > 0 -%}
    completed with exceptions
    {%- else -%}
    completed successfully
    {%- endif -%}
    {%- endif -%}
    {{ " on " + current_time_in_specified_tz(fmt="%d%m%Y_%H%M%S", tz="US/Eastern") +" " }}
    .Please find the log file details below for reference: <br />
    {%- set download_link = 'generate_pre_signed_download_url' -%}
    <a href="{{result(download_link)}}">Download log file</a><br />
<p>
<p>
    {%- if dag_run.conf.file_name is defined-%}
    Input file name: {{dag_run.conf.file_name }} {%- endif -%}
</p><br />
{%- if has_errors -%}
{%- endif -%}
For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>