<p><strong><em><span style="font-family: 'Calibri',sans-serif;">This is a automated mail, please don't
                reply&nbsp;</span></em></strong></p>
<p>Hello ,</p>
<p>The User sync into Replicon is completed with errors based on filename -
    "{{ result("new_file_sensor_to_process") | file_name }}" on {{ params.today }}
</p>
Please find the below link to the Project import logs for reference. <br />
<br /><a href="{{result('generate_error_logdownload_link')}}"> Download log file</a><br />
<br /></p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<br />
<br />
<br />
For any queries, please contact our support team at https://support.deltek.com <br />
<br />
Regards, <br />
Deltek Inc.