<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />
    Hello, <br /> <br />
    The Replicon time extract for C1 is completed successfully at {{ current_time_in_specified_tz() }}.
     Please find the file details below:<br /><br />
    File path: {{ params.sftp_path }} <br />
    File name: {{ dag_run.conf.twbname }}.xml <br />
    Payload identifier: {{ dag_run.conf.payload_identifier_replicon_uniqueid }}
     <br /></p>
    <p>
    Regards,<br />
    Deltek Inc.
    </p>