<p>
  <strong>This is an automated mail, please don't reply.</strong><br />
  <br />Hello, <br />
  <br />The Replicon Timesheeet Auto-Submission for LOA Users is completed successfully on {{
    current_time_in_specified_tz() }}. There was no timesheet available to process
  for {{dag_run.conf.erp}} ERP for the daterange {{dag_run.conf.report_start_date}} - {{dag_run.conf.report_end_date}}.
</p>

<p>
  For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards,
  <br />Deltek Inc.
</p>
