<p>
    <strong>This is an automated mail, please don't reply.</strong> <br />
    <br />
    Hello,<br />
    <br /> 
    The Replicon PTA time data export is cancelled on {{ current_time_in_specified_tz() }}.
    <p>There are records found without EmployeeId.</p>
    <p>To download the invalid records click <a href="{{result('generate_download_link')}}">here</a></p>
    <p>Note: Once the entries have been corrected and approved the records will be sent in the next export</p>
</p>
<p>
    For any queries, please contact our support team at https://support.deltek.com<br />
    <br />
    Regards,<br />
    Deltek Inc.
</p>