<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Replicon PTA time
    data export is completed and the export data has been placed in SFTP successfully.<br />
    Please find the file details below:<br /><br />
    File path: {{ params.sftp_upload_path }}<br />
    File name: {{dag_run.conf.time_export_name}}.json<br /></p>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>