<p><strong>This is an automated mail, please don't reply.</strong><br /><br />Hello, <br /><br />The Replicon time data extract is completed successfully for{{" "}}
    location "{{ params.location }}" at {{ result('process_start_time') }}. Please find the extract details for reference.</p>
<ul>
    <li>Process Started: {{ result('process_start_time') }}</li>
    <li>File Name: {{ result('logging_details').time_export_filename }}.csv.pgp</li>
    <li>File Path: {{ params.upload_file_path }}</li>
    <li>Location: {{ params.location }}</li>
    <li>Number of Records: {{ result('write_time_data_to_csv') | load_all_records | length }}</li>
</ul>
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>