<p>Hi Team,<br /> <br /> 
    The Timesheet Generation for get_company_key() instance, 
    hosted on get_company_key() which was created on {{ result("get_logging_details")["dag_run_start_time"] }} has been completed, 
    however, the log file upload to SFTP has failed. Attached is the exported file for reference.</p>
    <ul>
        <li>Dag ID: params.dag_id</li>
        <li>ECID: {{ dag_run_ecid() }} <br /></li>
    </ul> 
    <p> Please debug the issue related to SFTP upload.<br /> <br /> Regards,<br /> Deltek Inc</p>