<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />
  Hello, <br />
<p>
  The Workday User Sync is {{ " " }}
  {%- set has_errors = result("format_logs", key="error_record_count") > 0 -%}
  {%- if has_errors -%}
  completed with errors
  {%- else -%}
  {%- if result("format_logs", key="exception_record_count") > 0 -%}
  completed with exceptions
  {%- else -%}
  completed successfully
  {%- endif -%}
  {%- endif -%}
  {{ " on " + current_time_in_specified_tz() }}.<br />
  <br />Please click on the below link to download the logs and review. <br /> <br />
  <a href="{{result('generate_download_link')}}">Download log file</a>
  <br />
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
</p>
{%- if has_errors -%}
{%- endif -%}
For any queries, please contact our support team at <a href=https://support.deltek.com>https://support.deltek.com</a>
<br /><br />Regards, <br />Deltek Inc. </p>