<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The Replicon Resource Assignment is completed on  {{ current_time("%Y-%m-%dT%H:%M:%S.%f%z") }}. Please find the log file for the same in the below SFTP location. <br /> <br />
    File path: {{ params.log_filepath }}<br />
    File name: {{ result("get_log_file_name") }}</p>
    <p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.</p>
