<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> {{params.workorder}}
    Workorder data
    import into Replicon is completed. {% if result("filter_error_logs")| load_all_records() | length > 0%}
    with errors.
    {%endif%}
<ul>The logs are places in the SFTP folder path {{params.path}}
    <p>File Name:{{result("get_log_file_name")}}</p>
</ul>
{% if result("filter_error_logs")| load_all_records() | length > 0%}
{%endif%}
<p>For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards, <br />Deltek Inc.
</p>