<p>Hello,</p>
<p>
    The Replicon user schedule sync to Bamboohr is {{ " " }}
    {%- set has_errors = result("check_error_in_final_log", "length") > 0 -%}
    {%- if has_errors -%}
    completed with errors
    {%- else -%}
    completed successfully
    {%- endif -%}
    {{ ", " }} further details are below:
</p>
<ul>
    <li>Log File name: {{result('get_email_and_log_file_details').log_file_name}}</li>
    <li>Job start time: {{result('log_job_start_time')}}</li>
    <li>Job end time: {{result('get_email_and_log_file_details').job_end_time}}</li>
    <li>Job duration: {{result('get_email_and_log_file_details').job_duration}} minutes</li>
</ul>
<p>
    {%- if has_errors -%}
    <br>
    {%- endif -%}
    <br>
    Please click on the below link to download the logs and review.
    <br>
    <br>
    <a href="{{result('generate_download_link')}}">Download log file</a>
</p>
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<p>
    For any queries, please contact our support team at <a
        href="https://support.deltek.com">https://support.deltek.com</a>
    <br>
</p>
<p>
    <strong>This is an automated mail from Deltek Integration, Please do not reply to this email.</strong>
    <br>
    <br>
    Regards,
    <br>
    Deltek Inc
</p>