<strong>This is an automated mail, please don't reply.</strong><br />
<p>Hello, <br/> <br/>
                Replicon timeoff import is completed successfully. Please find the download link for the log file below:
                <br/><br/>
                <a href="{{result('generate_download_link')}}">Download log file</a><br />
                <br /></p>
                <p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
                <p>For any queries, please contact our support team at https://support.deltek.com <br/><br/>Regards, <br/>Deltek Inc.</p>