<p>
    <strong>This is an automated mail, please don't reply.</strong>
    <br />
    <br />Hello,
    <br /> <br />The Replicon time data export is completed successfully Job created at {{current_time_in_specified_tz()}}. Please find the file details below:
    <br /><br />
    Time Export: {{ dag_run.conf.time_export_name}}
    <br \>
    File path: {{ params.sftp_upload_path }}
    <br/>
    File name: {{dag_run.conf.time_export_batch_name}}.csv
    <br />
</p>
<p>
    Regards,<br />
    Deltek Inc.
</p>