<p><strong>This is an automated mail, please don't reply.</strong><br /> <br />Hello, <br /> <br /> The user import is
    &nbsp;
    {%- set has_errors = result("format_logs").get_record_summary.failed > 0 -%}
    {%- if has_errors -%}
    completed with errors
    {%- else -%}
    {%- if result("format_logs").get_record_summary.exception > 0 -%}
    completed with exceptions
    {%- else -%}
    completed successfully
    {%- endif -%}
    {%- endif -%}
    &nbsp; at {{ params.today }}. Please find below, link to the logs for reference. <br />
    <br /><a href="{{result('generate_downloadlink')}}">Download log file</a><br />

    {%- if has_errors -%}
    <br />
</p>
<br />
<br />
{%- endif -%}
<p><em><span style="font-size: 9pt;">The download link is valid for 7 days.</span></em></p>
<p><br />For any queries, please contact our support team at https://support.deltek.com <br /><br />Regards,
    <br />Deltek Inc.</p>